@media screen and (max-width: 767px) {

	.mobile-hide{
		display: none
	}
	.mobile-show{
		display: inline;
	}
	.logo-nav-bar{
		background: rgb(237,237,237);
		position: fixed;
	    height: 100px;
	    width: 115px;
	    z-index: 9999;
	    left: 0px;
	    padding-top: 25px;
	    top: 0px;
	}
	.sb-nav{
		position: fixed;
	    height: 500px !important;
	    width: 115px;
	    z-index: 9998;
	    left: 0px;
	    top: 100px;
	    padding: 5px 15px 5px 15px;
	}
	.sb-nav img{
		display: block !important
	}
	.sb-content{
    	margin-left: 50px;
	}
	.panel-default {
    	width: 80% !important;
	}
    .sb-nav-buttons, .nav-button{
        height: 80px;
    }
    .sb-steps-panel{
		height: 140px;
    }
    .nav-button{
    	padding-top: 20px;
    }

    .nav-button span{
    	color: rgb(255,255,255) !important;
    	padding: 20px 60px 20px 60px;
    }
    .sb-login-box{
    	width: 500px;
    	height: 800px;
	    padding-top:100px;
	    margin: auto;
    }
    .panel-default{
    	width: 70%;
    	margin-left:15%;
    }
    .sb-logo-sm{
    	height: 50px;
    	width: 49px;
    }
    .sb-logo-md{
    	height: 110px;
    	width: 108px;
    }
    .sb-logo-lg{
    	height: 230px;
    	width: 222px;
    }

    /*BUTTON*/
    .sb-button{
		padding-top: 15px;
		border-radius: 10px;
	}

	/* INPUTS */
	.saps-input{
		padding-left: 10px;
		padding-right: 10px;
		
	}

	/* FORM ITENS */
	.sb-button, .saps-input{
		margin-top: 10px;
		margin-bottom: 10px;

		font-size: 1.5em;
		height: 60px;
		width: 300px;
	}

	.sb-modal-sucess .modal-body{
		width: 200px !important;
		min-height: 150px;
	}

	/* SIZES */
	.sb-width-xs{
		width: 50px !important;
	}
	.sb-width-sm{
		width: 60px !important;
	}
	.sb-width-md{
		width: 100px !important;
	}
	.sb-width-lg{
		width: 230px !important;
	}
	.sb-width-xl{
		width: 300px !important;
	}
	.sb-height-sm{
		height:40px;
	}
	.sb-height-md{
		height:50px;
	}
    
    /* SIZES IN PERCENT */
	.sb-col-xm-1{
		width: 5%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-2{
		width: 10%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-3{
		width: 15%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-4{
		width: 20%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-5{
		width: 25%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-6{
		width: 30%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-7{
		width: 35%;
       display: inline-block;
	}
	.sb-col-xm-8{
		width: 40%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-9{
		width: 45%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-10{
		width: 50%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-11{
		width: 55%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-12{
		width: 60%;
       display: inline-block;
	}
	.sb-col-xm-13{
		width: 65%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-14{
		width: 70%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-15{
		width: 75%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-16{
		width: 80%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-17{
		width: 85%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-18{
		width: 90%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-19{
		width: 95%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-xm-20{
		width: 100%;
		display: inline-block;
		margin-right: -4px;
	}
}