@media screen and (min-width: 768px) and ( max-width: 991px) {
    
    .sb-header{
		position: fixed;
	    width: 100%;
	    height: 200px;
	}
	.sb-content{
		width: 100%;
		padding-top: 210px;
	}
	.sb-body{
		min-height: 550px !important;
		/*overflow-x: hidden;*/
		/*overflow-y: hidden;*/
	}
	.lang-choser{
		position: fixed;
		left: 10px;
	    top: 10px;
	}
	.lang-choser img{
		width: 35px;
		height: 35px;
	}
	.lang-chosen{
		position: fixed !important;
	    left: 30px !important;
	    top: 30px !important;
	    width: 22px !important;
	    height: 22px !important;
	}
	.sb-head-panel-bar{
		height: 60px;
	}
	.logo-nav-bar{
	    background: rgb(237,237,237);
	    height: 140px;
	    width: 110px;
	    position: absolute;
	    left: -110px;
	    padding-top: 25px;
	    top: -51px;
	}
	.sb-nav{
		margin-bottom: 5px;
	}
    .sb-nav, .sb-nav-buttons, .nav-button{
        height: 80px;
    }
    .sb-steps-panel{
		height: 140px;
    }
    .nav-button{
    	font-size: 1.3em;
    	padding-top: 20px;
    }
    .nav-button span{
    	color: rgb(255,255,255) !important;
    	padding: 20px 60px 20px 60px;
    }
    .sb-login-box{
    	width: 500px;
    	height: 800px;
	    padding-top:100px;
	    margin: auto;
    }
    .panel-default{
    	width: 70%;
    	margin-left:15%;
    }
    .creat-user-form{
    	width: 60%;
    	margin-left:20%;
    }
    .sb-logo-sm{
    	height: 70px;
    	width: 68px;
    }
    .sb-logo-md{
    	height: 110px;
    	width: 108px;
    }
    .sb-logo-lg{
    	height: 230px;
    	width: 222px;
    }
    /*SUBMISSION MODAL*/
    .sb-sub-modal{
    	width: 450px!important;
    }
    div.sb-sub-modal .modal-body{
    	padding-left: 50px;
    	padding-right: 50px;
    }
    /*CREATE ACCOUNT*/
    .create-account-logo{
		background: rgb(211, 211, 211);
		border-radius: 50%;
		width: 90px;
		height: 90px;
		margin-left: 80px;
		margin-top: 10px;
    }
    .create-account-panel{
	    width: 60%;
	    margin-left: 20%;
	    margin-top: 50px;
	}
    /*MAP*/
    .sb-map-features{
    	left: 35px;
    	top: 220px;
    	width: 400px;
    	padding-bottom: 3px;
    	border-style: solid;
    	border-width: 1px;
    }
    .sb-map-feature-label{
    	height: 37px;
    	margin-top: 3px;
    }
	.sb-map-feature-options{
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 15px;
		font-size: 1em;
	}
	.sb-region-detail-line{
		min-height: 32px;
		padding-top: 5px;
		margin-bottom: 3px;
	}
	.sb-image-detail-line{
		min-height: 32px;
		padding-top: 5px;
		padding-left: 15px;
		margin-bottom: 3px;
	}
    .sb-map-controls{
    	position: fixed;
    	right: 55px;
    	top: 220px;
    	cursor: pointer;
    }
    .sb-heat-map-legends{
    	position: fixed;
    	padding-right: 15px;
    	padding-bottom: 15px;
    	right: 45px;
    	bottom: 45px;
    	border-style: solid;
    	border-width: 1px;
    }

	/*BUTTON*/
	.sb-span-round-button{
	    background-color: rgb(255,255,255);
	    border-radius: 50%;
	    width: 22px;
    	padding: 2px 3px 1px 1px;
	}

    .sb-button{
		padding-top: 6px;
		border-radius: 10px;
	}

	/* INPUTS */
	.sb-checkbox-map{
		width: 20px;
	    height: 20px;
	    margin-top: 0px !important;
	}
	.saps-input{
		padding-left: 10px;
		padding-right: 10px;
	}

	/* FORM ITENS */
	.sb-button, .saps-input{
		margin-top: 5px;
		margin-bottom: 5px;

		font-size: 1.3em;
		height:40px;
		width: 250px;
	}

	/* SIZES */
	.sb-width-xs{
		width: 100px !important;
	}
	.sb-width-sm{
		width: 150px !important;
	}
	.sb-width-md{
		width: 250px !important;
	}
	.sb-width-lg{
		width: 350px !important;
	}
	.sb-width-xl{
		width: 550px !important;
	}
	.sb-wpercent-sm{
		width: 25% !important;
	}
	.sb-wpercent-md{
		width: 55% !important;
	}
	.sb-wpercent-lg{
		width: 95% !important;
	}
	.sb-height-sm{
		height:40px;
	}
	.sb-height-md{
		height:50px;
	}

	/* SIZES IN PERCENT */
	.sb-col-sm-1{
		width: 5%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-2{
		width: 10%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-3{
		width: 15%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-4{
		width: 20%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-5{
		width: 25%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-6{
		width: 30%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-7{
		width: 35%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-8{
		width: 40%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-9{
		width: 45%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-10{
		width: 50%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-11{
		width: 55%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-12{
		width: 60%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-13{
		width: 65%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-14{
		width: 70%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-15{
		width: 75%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-16{
		width: 80%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-17{
		width: 85%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-18{
		width: 90%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-19{
		width: 95%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-col-sm-20{
		width: 100%;
		display: inline-block;
		margin-right: -4px;
	}
	.sb-modal-sucess .modal-body{
		width: 200px !important;
		min-height: 150px;
	}
	
}