<form ng-controller="NewSubmissionsController">

        <div style="font-weight: bold; font-size: 1.2em;  ">{{languageContent.mapFeature.submissionBox.label.region}}</div>
        <br>
        <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-9">Lower Left</div>
        <br>
        <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.lowerLeftCoord.lat" required placeholder="Latitude">
        <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.lowerLeftCoord.long" required placeholder="Longitude">
        <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-9">Upper Right</div>
        <br>
        <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.upperRightCoord.lat" required placeholder="Latitude">
        <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.upperRightCoord.long" required placeholder="Longitude">

        <div class="sb-required sb-hidden">{{languageContent.mapFeature.submissionBox.label.requiredField}}</div>
      <!--   <span class="glyphicon glyphicon-plus-sign sb-tooltip" aria-hidden="true" style="font-size: 1.5em">
            <div class="sb-info">
                <p>{{languageContent.infos.regionSearchFilter.info}}</p>
                <p>{{languageContent.infos.regionSearchFilter.eg}}</p>
            </div>      
        </span> -->

        <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-11">{{languageContent.mapFeature.submissionBox.label.firstDate}}</div>
        <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-9">{{languageContent.mapFeature.submissionBox.label.lastDate}}</div>
        
        <div id="firstYearField" class="sb-col-lg-11">
            <input type="text" class="saps-input input-small sb-width-90 saps-datepicker" id="subformFirstYear" required>
            <div class="sb-required sb-hidden">{{languageContent.mapFeature.submissionBox.label.requiredField}}</div>
        </div>
        <div id="lastYearField" class="sb-col-lg-9">
            <input type="text" class="saps-input input-small sb-width-100 saps-datepicker" id="subformLastYear" required>
            <div class="sb-required sb-hidden">{{languageContent.mapFeature.submissionBox.label.requiredField}}</div>
        </div>

        <br>
        <br>

        <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.mapFeature.submissionBox.label.sapsVersion}}</div>
        <div style="font-size: 1em;">
            <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownInputGathering" ng-click="showHide('inputGatheringDrop')" aria-haspopup="true" aria-expanded="true" 
                style="min-width: 150px;">
                  <div style="display: inline; float: left">
                    {{selectedInputGatheringName}}
                  </div>
                  <div style="display: inline; float: right">
                    <span class="caret"></span>
                  </div>
                </button>
                <ul id='inputGatheringDrop' class="dropdown-menu" aria-labelledby="dropdownInputGathering">
                  <li ng-repeat="inputGathering in inputGatheringOptions"
                    ng-click="showHide('inputGatheringDrop');changeInputGathering(inputGathering)">{{inputGathering.name}}</li>
                </ul>
              </div>
              <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true">
            </div>
        </div>
        <br>
        <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.mapFeature.submissionBox.label.sapsTag}}</div>
        <div style="font-size: 1em;  ">
            <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownInputPreprocessing" aria-haspopup="true" aria-expanded="true" 
                  ng-click="showHide('inputPreprocessingDrop')"
                  style="min-width: 150px; text-align: left">
                  <div style="display: inline; float: left">
                    {{selectedInputPreprocessingName}}
                  </div>
                  <div style="display: inline; float: right">
                    <span class="caret"></span>
                  </div>
                </button>
                <ul id="inputPreprocessingDrop" class="dropdown-menu" 
                  aria-labelledby="dropdownInputPreprocessing">
                  <li ng-repeat="inputPreprocessing in inputPreprocessingOptions"
                    ng-click="showHide('inputPreprocessingDrop');changeInputPreprocessing(inputPreprocessing)">{{inputPreprocessing.name}}</li>
                </ul>
              </div>
              <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true">
            </div>
        </div>
        <br>
        <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.mapFeature.submissionBox.label.sapsTag}}</div>
        <div style="font-size: 1em;  ">
            <div class="dropdown" style="display: inline;">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAlgorithimExecution" aria-haspopup="true" aria-expanded="true" 
                  ng-click="showHide('algorithimExecutionOts')"
                  style="min-width: 150px; text-align: left">
                  <div style="display: inline; float: left">
                    {{selectedAlgorithimExecutionName}}
                  </div>
                  <div style="display: inline; float: right">
                    <span class="caret"></span>
                  </div>
                </button>
                <ul id="algorithimExecutionOts" class="dropdown-menu" 
                  aria-labelledby="dropdownAlgorithimExecution">
                  <li ng-repeat="algorithimExecution in algorithimExecutionOptions"
                    ng-click="showHide('algorithimExecutionOts');changeAlgorithimExecution(algorithimExecution)">{{algorithimExecution.name}}</li>
                </ul>
              </div>
              <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true">
            </div>
        </div>

        <br>

        <div align="right">
          <div ng-click="processNewSubmission()" class="sb-button sb-main sb-width-sm" align="center">
            {{languageContent.mapFeature.submissionBox.button.submit}}
          </div>
        </div>
</form>