<form ng-controller="NewSubmissionsController">
  <div style="font-weight: bold; font-size: 1.2em;  ">{{languageContent.mapFeature.submissionBox.label.region}}</div>
  <br>
  <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-9">Upper Right</div>
  <br>
  <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.upperRightCoord.lat" required
    placeholder="Latitude">
  <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.upperRightCoord.long"
    required placeholder="Longitude">
  <div style="font-weight: bold; font-size: 1em;" class="sb-col-lg-9">Lower Left</div>
  <br>
  <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.lowerLeftCoord.lat" required
    placeholder="Latitude">
  <input type="number" class="saps-input saps-input input-small sb-width-49" ng-model="newSubmission.lowerLeftCoord.long" required
    placeholder="Longitude">

  <div class="sb-required sb-hidden">{{languageContent.mapFeature.submissionBox.label.requiredField}}</div>
  <!--   <span class="glyphicon glyphicon-plus-sign sb-tooltip" aria-hidden="true" style="font-size: 1.5em">
            <div class="sb-info">
                <p>{{languageContent.infos.regionSearchFilter.info}}</p>
                <p>{{languageContent.infos.regionSearchFilter.eg}}</p>
            </div>      
        </span> -->

  <div style="font-weight: bold; font-size: 1em;" class="sb-width-49 sb-col-lg-11">{{languageContent.mapFeature.submissionBox.label.firstDate}}</div>
  <div style="font-weight: bold; font-size: 1em;" class="sb-width-49 sb-col-lg-9">{{languageContent.mapFeature.submissionBox.label.lastDate}}</div>

  <div id="firstYearField" class="sb-width-49 sb-col-lg-11">
    <md-datepicker required ng-model="newSubmission.initialDate"></md-datepicker>
  </div>
  <div id="lastYearField" class="sb-width-49 sb-col-lg-9">
    <md-datepicker required ng-model="newSubmission.finalDate"></md-datepicker>
  </div>

  <br>
  <br>

  <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.submissionsList.table.inputGathering}}</div>
  <div style="font-size: 1em;">
    <select class="sb-width-49" ng-model="newSubmission.inputPreprocessing" ng-options="x.name for x in inputPreprocessingOptions">
    </select>
    <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true"></span>
  </div>
  <br>

  <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.submissionsList.table.inputPreprocessing}}</div>
  <div style="font-size: 1em;  ">
    <select class="sb-width-49" ng-model="newSubmission.inputGathering" ng-options="x.name for x in inputGatheringOptions">
    </select>
    <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true"></span>
  </div>
  <br>

  <div style="font-weight: bold; font-size: 1em;  ">{{languageContent.submissionsList.table.algorithmExecution}}</div>
  <div style="font-size: 1em;  ">
    <select class="sb-width-49" ng-model="newSubmission.algorithmExecution" ng-options="x.name for x in algorithmExecutionOptions">
    </select>
    <span class="glyphicon glyphicon-info-sign sb-tooltip" aria-hidden="true"></span>
  </div>

  <br>

  <div align="right">
    <div ng-click="processNewSubmission()" class="sb-button sb-main sb-width-sm" align="center">
      {{languageContent.mapFeature.submissionBox.button.submit}}
    </div>
  </div>
</form>