<div ng-controller="TaskModalController" class="modal sb-modal fade" id="tasksModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 10%; width: 100%;">
    <div class="modal-content">
      <div class="panel-heading" style="border:none;">
        <div class="row">
          <div class="container-fluid">
            <div style="display: flex; align-items: center; justify-content: space-between;">
              <h3 ng-click="closeModal" style="cursor:pointer; width: 20%;">{{selectedJob.jobLabel}}</h3>
              <div style="display: flex; align-items: center; justify-content: space-between; width: 30%;">
                <h4 ng-show="selectedJob.tasksOngoing"> Running: {{selectedJob.tasksOngoing}}/{{selectedJob.tasksAmount}} </h4>
                <h4> Failed: {{selectedJob.tasksFailed}}/{{selectedJob.tasksAmount}} </h4>
                <h4> Archived: {{selectedJob.tasksArchived}}/{{selectedJob.tasksAmount}} </h4>
              </div>
              <div class="saps-input-image"
                style="display: inline-block; margin-right: -20px; font-size: 14px; color: black;">
                <input type="text" class="saps-input sb-md sb-height-sm" id="filter-all" ng-model="listFilter"
                  placeholder="{{languageContent.submissionsList.taskFilterBox.placeholder}}"
                  ng-change="filterTable(listFilter)" />
                <div class="input-icon">
                  <img src="/images/search.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <table class="saps-table table" ng-table="tasksTable">
          <tr ng-repeat="i in $data">
            <td title="languageContent.submissionsList.table.date" sortable="'imageDate'">
              {{i.imageDate}}
            </td>
            <td title="languageContent.submissionsList.table.dataset" sortable="'dataset'">
              {{i.dataset}}
            </td>
            <td title="languageContent.submissionsList.table.landsatTile" sortable="'taskId'">
              {{i.region}}
            </td>
            <td title="languageContent.submissionsList.table.inputGathering" sortable="'inputGatheringTag'">
              {{i.inputGatheringTag}}
            </td>
            <td title="languageContent.submissionsList.table.inputPreprocessing" sortable="'inputPreprocessingTag'">
              {{i.inputPreprocessingTag}}
            </td>
            <td title="languageContent.submissionsList.table.algorithmExecution" sortable="'algorithmExecutionTag'">
              {{i.algorithmExecutionTag}}
            </td>
            <td title="languageContent.submissionsList.table.state" sortable="'state'">
              {{i.state}}
              <span ng-show="i.state == 'error'" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>